<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<!--
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property>
		<property name="hibernate.connection.url">jdbc:hsqldb:./target/work/servir;shutdown=true</property>
		<property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
		<property name="hibernate.connection.username">sa</property>
		<property name="hibernate.connection.password"></property>
		<property name="hbm2ddl.auto">update</property>
		<property name="hibernate.show_sql">true</property>
		<property name="hibernate.format_sql">true</property>
                <property name="hbm2ddl.auto">none</property>
	</session-factory>
</hibernate-configuration>
-->


<hibernate-configuration>
    
  <session-factory>
    <property name="hibernate.connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
    <property name="hibernate.default_schema">rnsc</property>
    <property name="hibernate.connection.url">jdbc:oracle:thin:@172.16.19.33:1521:bdprueba2</property>
    <property name="hibernate.dialect">org.hibernate.dialect.Oracle10gDialect</property>
    <property name="hibernate.connection.username">rnsc</property>
    <property name="hibernate.connection.password">rnsc123</property>
    <!-- <property name="hbm2ddl.auto">update</property> -->
    <!-- <property name="hbm2ddl.auto">create</property> -->
    <property name="hbm2ddl.auto">none</property>
    
    <property name="hibernate.show_sql">true</property>
    <property name="hibernate.format_sql">true</property>
    <property name="statement_cache.size">0</property>
    <!-- pool via c3p0 which knows how to reconnect to server and does it nicely-->
<!--    <property name="connection.provider_class">org.hibernate.connection.C3P0ConnectionProvider</property>-->
    <property name="hibernate.c3p0.acquire_increment">1</property>
    <property name="hibernate.c3p0.idle_test_period">100</property>
    <!-- seconds -->
    <property name="hibernate.c3p0.min_size">5</property>
    <property name="hibernate.c3p0.max_size">20</property>
    <property name="hibernate.c3p0.timeout">7000</property>
    <property name="hibernate.c3p0.max_statements">100</property>

    <!--
    <property name="hibernate.validator.autoregister_listeners">false</property>
    <property name="hibernate.search.autoregister_listeners">false</property>
-->
  </session-factory>
</hibernate-configuration>
