ul.menu {
    background: url("images/horiz-bg.png") repeat-x scroll 0 0 transparent;
    float: left;
    height: 100%;
    list-style: none outside none;
    margin: 20px 0;
    padding: 0;
    margin-bottom: 10px;
}
ul.menu li {
    float: left;
    line-height: 1.1;
    position: relative;
}
ul.menu li a {
    color: #ffffff;
    display: block;
    text-decoration: none;
    width: auto;
}
ul.menu li.last a {
    background: none repeat scroll 0 0 transparent;
}
ul.menu li a.sub {
    background: url("images/horiz-bg.png") repeat-x scroll 0 0 transparent;
    padding-right: 15px;
}
ul.menu li:hover, ul.menu li.hover {
    background-color: #860907;
}

ul.menu li:hover a, ul.menu li.hover a {
    color: #ffffff;
}
ul.menu li.active a {
    color: #ffffff;
}
ul.menu ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    width: 168px;
}
ul.menu ul ul {
}
ul.menu li:hover li, ul.menu li:hover li a, ul.menu li.hover li, ul.menu li.hover li a {
    background-color: #860907;
    color: #ffffff;
}
ul.menu li li {
    border-left: 1px solid #D7D7D7;
    border-right: 1px solid #D7D7D7;
    width: 100%;
}
ul.menu li li.last {
    border-bottom: 1px solid #D7D7D7;
}
ul.menu li li a {
    padding: 2px;
}
ul.menu li:hover li:hover a, ul.menu li.hover li.hover a {
    background-color: #560907;
    color: #FFFFFF;
}
ul.menu li:hover li.active a, ul.menu li.hover li.active a {
    color: #F15C30;
}
ul.menu li li a.sub {
    padding-right: 15px;
}
ul.menu li:hover li:hover a.sub, ul.menu li.hover li.hover a.sub {
}
ul.menu ul ul {
    background: none repeat scroll 0 0 #FFFFFF;
    margin-left: 169px;
    top: -1px;
}
ul.menu li:hover li:hover li:hover a, ul.menu li.hover li.hover li.hover a {
    background: none repeat scroll 0 0 #E6E6E6;
    color: #000000;
}
ul.menu li:hover li:hover li.active a, ul.menu li.hover li.hover li.active a {
    color: #F15C30;
}
ul.menu li:hover li:hover li:hover a.sub, ul.menu li.hover li.hover li.hover a.sub {
}
ul.menu li:hover li:hover li:hover li, ul.menu li:hover li:hover li:hover li a, ul.menu li.hover li.hover li.hover li, ul.menu li.hover li.hover li.hover li a {
    color: #7C7C7C;
}
ul.menu li:hover li:hover li:hover li:hover a, ul.menu li.hover li.hover li.hover li.hover a {
    background: none repeat scroll 0 0 #CCCCCC;
    color: #000000;
}
ul.menu li:hover li:hover li:hover li.active a, ul.menu li.hover li.hover li.hover li.active a {
    color: #F15C30;
}
ul.menu li:hover li:hover li:hover li a.sub, ul.menu li.hover li.hover li.hover li a.sub {
    background: none repeat scroll 0 0 #E6E6E6;
}
ul.menu li:hover li:hover li:hover li:hover a.sub, ul.menu li.hover li.hover li.hover li.hover a.sub {
    background: none repeat scroll 0 0 #CCCCCC;
}
div#nav ul ul ul ul ul {
    display: none;
}
ul.menu ul, ul.menu li:hover ul ul, ul.menu ul ul, ul.menu li:hover ul ul ul, ul.menu ul ul ul, ul.menu li:hover ul ul ul ul {
    left: -999em;
    position: absolute;
}
ul.menu li:hover ul, ul.menu li li:hover ul, ul.menu li li li:hover ul, ul.menu li li li li:hover ul {
    left: -1px;
    z-index: 999;
}
ul.menu li.hover ul ul, ul.menu li.hover ul ul ul, ul.menu li.hover ul ul ul ul {
    left: -999em;
    position: absolute;
}
ul.menu li.hover ul, ul.menu li li.hover ul, ul.menu li li li.hover ul, ul.menu li li li li.hover ul {
    left: -1px;
    z-index: 999;
}

.selectedPadre {
    background-color: #860907;
}


ul.menu li:hover li .selectedHijo, ul.menu li:hover li a .selectedHijo, ul.menu li.hover li .selectedHijo, ul.menu li.hover li a .selectedHijo{
    background-color: #560907;
    color: #ffffff;
}
