/*css reset*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{border:0;outline:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:inherit;vertical-align:baseline;margin:0;padding:0;}:focus{outline:0;}
ol,ul{list-style:none;}
table{border-collapse:separate;border-spacing:0;}
caption,th,td{text-align:left;font-weight:400;}
blockquote:before,blockquote:after,q:before,q:after{content:"";}
blockquote,q{quotes:"" "";}
/*en css reset*/

body {
    font-size:11px;
    font-family: "Lucida Grande","Lucida Sans Unicode",Helvetica,Arial,Sans-Serif; 
    font-family: Tahoma, Geneva, sans-serif;
    text-align:left;
    background: url("images/page-bg.png") repeat-x;
    color: #333333;
}
a, a:visited, a:link { font-size:11px; color:#e10827; text-decoration:none;}
a:hover { text-decoration:underline;}
#bouttons a, #bouttons a:visited, #bouttons a:link { font-size:11px; color:#ffffff; text-decoration:none;}

input, select, textarea {
    padding:4px;
    color:#555454;
    font-size:11px;
}
select { width:200px;  padding: 3px 4px; height: 22px;}
label { display:block; margin-bottom:5px; width:auto; background-color: transparent;}
.check { float:left;}
.check, #formacion #interno {width:auto !Important; vertical-align:top; margin:2px !important; border:none; }

.button, .buttonGrey {
    color:#fff;
    cursor:pointer;
    background:url(images/bg-button.gif) repeat-x 0 0;
    border:1px solid #be0a16;
    padding:4px 8px;
    width:auto !important;
    overflow:visible;
    margin-left: 2px;
}
.buttonGrey { background-image:url(images/bg-buttongrey.gif); border-color:#676767;}
.button:hover {background:url(images/bg-buttonO.gif) repeat-x 0 0;}
.buttonGrey:hover {background:url(images/bg-buttongreyO.gif) repeat-x 0 0;}

h1, h2, h3, h4, h5, h6 { letter-spacing:normal;}
h2 { font-size:18px; border-bottom:1px dashed; padding-bottom:10px; margin-bottom:20px !Important;}
h3 { font-size:12px;}
h4 { font-size:12px; font-weight:bold;}

form {
    margin: 0;
    padding: 0;
}

h1, h1 a, h2, h2 a, h3, h3 a {
    margin: 0;
    text-decoration: none;
    font-weight: normal;
    color: #444444;
}

th {
    background-color: #444444;
}

h1 {
    font-size: 2.2em;
    margin-bottom:10px;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1em;
}

p, ol, ul {
    margin-bottom: 2em;
    line-height: 200%;
}

blockquote {
    margin: 0 0 0 1.5em;
    padding-left: 1em;
    border-left: 5px solid #DDDDDD;
}

a {
    color: #1692B8;
}

a:hover {
    text-decoration: none;
}
fieldset {
    border: 1px solid #999;
    margin-bottom: 10px;
    padding: 10px;
}

legend {
    color: #000000;
    background-color: #FFFFFF;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 11px;
}

#mainsection {
    background-color: #f5f5f5;
    width: 960px;
    margin:0 auto;
}

/*HEADER*/
#header { 
    width:960px;
    background-color:#fff; 
    overflow:auto; 
    zoom:1; 
    text-indent:-9999px;
    background: url(images/header-bg.png) repeat-x top left;
    height: 90px;
}

#logo{
}

#header #logo-left a { 
    background:url(images/logo-rsc.png) no-repeat top left;  
    float:left;
    height:60px; 
    width:270px;
    margin-left: 20px;
}
#header #logo-right a { 
    background:url(images/logo-servir.png) no-repeat top left; 
    float:right; 
    height:61px; 
    width:167px; 
    margin-right: 20px;
    margin-top: 5px;
}

/* Footer */
#footer { 
    margin:0 auto; 
    border:none; 
    padding-top:30px;
    width: 960px;
}

#footer p {
    margin-bottom: 1em;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    color: #bgbgbg;
}

#footer a {
    padding: 0 20px;
    text-decoration: none;
    color: #DDDDDD;
}

#footer a:hover {
    color: #FFFFFF;
}

#footer .rss {
    background: url(images/img18.gif) no-repeat left center;
}

#footer .xhtml {
    background: url(images/img19.gif) no-repeat left center;
}

#footer .css {
    background: url(images/img20.gif) no-repeat left center;
}

#footer .legal a {
    padding: 0;
}

/* Page */
#page {
    border-color: #F2F2F2;
    min-height: 500px;
}

/* Content */
#content {
}

.post {
    margin-bottom: 10px;
}

.post .title {
    border-bottom: 1px #999999 dashed;
}

.post .title h2 {
    padding: 30px 30px 0 0px;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 2.2em;
}

.post .title p {
    margin: 0;
    padding: 0 0 10px 0px;
    line-height: normal;
    color: #BABABA;
}

.post .title p a {
    color: #BABABA;
}


.post .links {
    margin: 0;
    padding: 0 30px 30px 0px;
}

.post .links a {
    display: block;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: #FFFFFF;
}

.post .links a:hover {
}

.post .links .more {
    width: 128px;
    height: 30px;
    background: url(images/img03.jpg) no-repeat left center;
}

.post .links .comments {
    width: 152px;
    height: 30px;
    background: url(images/img04.jpg) no-repeat left center;
}

/* Sidebar */
#sidebar {
    float: right;
    width: 300px;
    margin-top: 30px;
    display:none;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin-bottom: 10px;
    background: url(images/img10.gif) no-repeat left bottom;
}

#sidebar li ul {
    padding: 0 30px 40px 30px;
}

#sidebar li li {
    margin: 0;
    padding-left: 20px;
}

#sidebar h2 {
    padding: 30px 30px 5px 10px;
    background: url(images/img09.gif) no-repeat;
    text-transform: lowercase;
    font-weight: normal;
    font-size: 1.6em;
    color: #302D26;
}

#sidebar DIV.sidebar-content {
    width: 265px;
    margin-left: 10px;
    padding-bottom: 1px;
}

/* Search */
#search {
    padding: 20px 30px 40px 30px;
}

#search input {
    padding: 0;
    width: 70px;
    height: 29px;
    background: #DFDFDF url(images/img14.gif) repeat-x;
    font-weight: bold;
}

#search #s {
    padding: 5px;
    width: 150px;
    height: auto;
    background: #FEFEFE url(images/img13.gif) repeat-x;
    border: 1px solid #626262;
    font: normal 1em Arial, Helvetica, sans-serif;
}

#search br {
    display: none;
}

/* Categories */
#sidebar #categories li {
    background: url(images/img12.gif) no-repeat left center;
}

/* Calendar */
#calendar_wrap {
    padding: 0 30px 40px 30px;
}

#calendar table {
    width: 100%;
    text-align: center;
}

#calendar thead {
    background: #F1F1F1;
}

#calendar tbody td {
    border: 1px solid #F1F1F1;
}

#calendar #prev {
    text-align: left;
}

#calendar #next {
    text-align: right;
}

#calendar tfoot a {
    text-decoration: none;
    font-weight: bold;
}

#calendar #today {
    background: #FFF3A7;
    border: 1px solid #EB1400;
    font-weight: bold;
    color: #EB1400
}

#toggle_filtros {
    background: url("images/lupa.png") no-repeat scroll left bottom transparent;
    display: block;
    height: 22px;
    z-index: 9;
    margin-bottom: 20px;
    padding-left:35px;
    vertical-align: middle;
    text-decoration:none;
    color: #626262;
    font-size: 12px;
}

#selectors {
    border: 1px solid #a60e0b;
    padding:10px;
    /*height: 285px;*/
    /*width: 820px;*/
    margin-bottom: 10px;
    /*height:auto;*/
}

.seccionfiltros {
    width:240px;
}
#busquedas, #mainfiltros {
    height: 180px;
    border:  1px solid #E40132;
    margin-bottom: 10px;
}

#busquedasUsuario{
    height: 70px;
    border:  1px solid #E40132;
    width: 780px;
    margin-bottom: 10px;
}

#busquedas h2, #mainfiltros h2 {
    margin-bottom: 10px;
}

#filtrosnombres {
    float:left;
}

#filtrosdoc {
    height: 60px;
}

#busquedas #buscarsubmit {
    float: none;
}

#busquedas label, #mainfiltros label {
    text-align: left;
    margin-right: 10px;
    display: block;
}

#tablaCargo {
    float:left;
    padding-left: 10px;
}

#mainfiltros input, #busquedas input{
    margin-bottom: 5px;
}

#busquedas select, #mainfiltros select {
    margin-bottom: 5px;
    font-size:10px;
}

#mainfiltros .checklabel {
    width: 120px;
    float:left;
}

#mainfiltros .seccionfiltros {
    float:left;
    margin-left: 10px;
}

#mainfiltros input[type="checkbox"] {
    float:left;
    margin-left: 5px;
}

#form_unidad_ejecutora {
    width: 400px;
}

form th {
    color:#fff;

}

/* Para modificar el trabajador */
#basicosTrabajador {
    padding: 50px;
    padding-top:10px;
    padding-bottom:10px;
    font-size: larger;
    text-transform: capitalize;
    line-height: 20px;
}

.pane {
    border: 1px solid #E40132;
    padding: 10px;
}


#tablaTrabajador{
    float:none;
}

#cargoCell {
    float:none;
}

/* Login */
/*
.login {
    padding:20px;
    border:thin solid;
    border-color:#e30031;
    margin-top: 100px;
    margin-left: 200px;
    width:400px;
}
*/
.login label {
    /*font: normal 1em Arial, Helvetica, sans-serif;*/
    width: 150px;
    text-align: left;
    margin-right: 10px;
    display: block;
    margin-bottom: 5px;
}

.login input {
    margin-bottom: 5px;
}

.login select {
    margin-bottom: 5px;
    font-size:10px;
}

/* Menu */
.menu {
    width:100%;
    color:#fff;
    background-color:#A60E0B;

}
.menu ul {
    height: 30px;
    list-style: none outside none;
    margin: 0 !important;
    padding: 0;
}
.menu ul li {
    float: left;
    list-style-image: none !important;
    margin: 0 !important;
    padding: 0;
    text-indent: 0;
}
.menu ul a {
    text-decoration: none;
    color:#fff;
    display: block;
    color: #FFFFFF;
    display: block;
    font-size: 10px;
    height: 30px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    position: relative;
    text-align: center;
    text-decoration: none;
    width: 110px;
}

.menu ul a:hover {
    background-color:#e30031	;
    color:#fff;
}

.organismo_titulo {
    text-align: center;
    font-size: 16px;
    margin-bottom: 20px;
}

/* Editar Trabajador */
#Datos_Generales {
    border: thin solid #A60E0B;
    margin-bottom: 20px;
    padding: 10px;
}

/* amb usuarios */
/*
#tabla_usuario {
    margin-bottom: 40px;
}
*/

#form_usuario label {
    /*font: normal 1em Arial, Helvetica, sans-serif;*/
    width: 150px;
    text-align: left;
    margin-right: 10px;
    /*display: block;*/
    margin-bottom: 5px;
}

#form_usuario input {
    margin-bottom: 5px;
}


#form_usuario select {
    margin-bottom: 5px;
    font-size:10px;
}

#formulariotrabajadornuevolegajocargo input,
#formulariotrabajadornuevolegajocargo select {
    display:block;
}

#mainsection .desasignar {
    margin-left:10px;
}

#Mensajes {
    margin: 30px;
    background-color: red;
    color: white;
    padding:10px;
}

/* Datos de personales */
#ubigeosData {
    position: relative;
    top: -120px;
    width: 290px;
}

#periodoestudios {
    position: absolute;
    top: 540px;
    left: 630px;
    width: 230px;
    margin-bottom: 0px;
}

/* Datos de familiares */
#tabla_familiares {
    overflow:auto;
}

#ubigeosDataFam {
    position:relative;
    top:-200px;
    width:290px;
}

.datos_familia td{
    vertical-align:  top;
}

#form_cambio_clave {
    top: 100px;
}

#div_cambiarclave{
    margin-left: 5px !important;
    margin-bottom: 5px;
}

/* Titulos editor */
.scrolleable {
    overflow: auto;
}

#unidad_organica_ubi_geo {
    /*position:relative;*/
    float:left;
    margin-left:0;
    margin-top: 0;
    position: relative;
    top: -70px;
    padding: 5px;
    left: 6px;
}

#timeout {
    font-weight: bold;
    font-size: 14px;
    padding: 20px;
    width: 250px;
    text-align: center;
    background-color:#fff; 
    margin:auto;
    margin-top: 60px;
}

/* Para tablas auxiliares */
.error {
    padding: 20px;
    margin:20px;
    border: thin solid red;
    color: red;
    font-weight: bold;
}

#form_conceptoremunerativo label {
    width: 150px;
    text-align: left;
    margin-right: 10px;
    display: block;
    margin-bottom: 5px;
}


#form_conceptoremunerativo input {
    margin-bottom: 5px;
}


#form_conceptoremunerativo select {
    margin-bottom: 5px;
    font-size:10px;
}

/*organismos informantes */
#tabla_oi {
    overflow:auto;
}
/*
#organismosZone{
    top: 200px;
    margin-left: 12px;
}
*/
#entiZone{
    top: 200px;
    margin-left: 12px;
}

/* Cargos */
.cargosAM {
    float: left;
    padding: 5px;
}

#submitFrm {
    float:left;
    width: 500px;
}

#ocupacionalescargo {
    top: -160px;
    position: relative;
    width: 300px;
    left: 8px;
    padding: 5px;
}

/*
#OcupacionalesZone {

    height:130px;
        width:350px;
        position: relative;
        left: 0px;
        top: 30px;
        float: left;
        filter:alpha(opacity=100);
        -moz-opacity: 1;
        opacity: 1;
}

#formOcupacional {
}
#OcupacionalesZone form {
    height:130px;
    width: 250px;
    position: absolute;
}
*/
#formacionZone {
    position: relative;
    top: -200px;
}

#submitFamiliar {
    position:relative;
}

/* Datos personles */
#datosPersonales {
    padding-left:5px;
    padding-right:5px;
}

#DatosPersonalesOtrosDatos {
    float: left;
    margin-left: 30px;
    width: 400px;
}

#DatosPersonalesMain {
    float:left;
}

#datosPersonalesZone {
    height: 600px;
}

#cargos_izq {
    width: 275px;
}

#cargos_der{
    width: 300px;
    height: 340px;
}

UL.t-data-list LI {
    list-style-type: square;
}

DIV.t-loading {
    display: inline;
    width: auto;
    font-weight: bold;
    padding-right: 20px;
    background: transparent url(ajax-loader.gif) no-repeat right top;
}

DIV.t-dialog-overlay {
    position: fixed;
    margin: auto;
    top: 0px;
    left: 0px;
    z-index: 9990;
    width: 100%;
    height: 100%;
    background: transparent url("dialog-background.gif");
}

DIV.t-page-loading-banner {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    font-weight: bold;
    padding: 2px 4px 2px 24px;
    color: black;
    background: white url(ajax-loader.gif) no-repeat 4px center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

SPAN.t-render-object-error
{
    font-weight: bold;
    font: italic;
    color: red;
}

DIV.t-available-values UL LI
{
    list-style-type : disc;
    margin-left: 0px;
}

.box { 
    border:1px solid #707070; 
    background-color:#fff; 
    padding:10px; 
    clear:both;
    /*position: relative;*/
}
.box .actions { overflow:auto;zoom:1; margin-top: 10px;}
.box .actioncargo { overflow:auto;zoom:1;margin-top: 110px;}
.box .actionunidad { overflow:auto;zoom:1;margin-bottom: 30px;}
.box h3, h3 { 
    background-color:#d72522; 
    color:#fff; 
    font-weight:bold; 
    padding:4px 10px; 
    display:block;}

.box form .f-left.bigger { width:210px;}

#formTipoUsuario { padding:0 30px;}

.f-wrap { 
    overflow:auto; 
    zoom:1;
}
.f-left{ float:left; margin-right: 10px;}
.f-right { float:right;}
.clear { clear:both;}
.light-grey { background-color:#535152 !important;}
.dark-grey { background-color:#2f2f30 !important;}
.inline { 	display:-moz-inline-stack;	display:inline-block;zoom:1;display:inline;margin-left:5px;}

.sp, #toggle_filtros { background:url(images/sprite.gif) no-repeat 0 0;}
.sp.t-error-icon { background-position:0 -50px;}
.sp.show {background-position:0 0; height:18px;}
.sp.hide { background-position:0 -17px !important;height:18px;}

#toggle_filtros {height:18px; padding-left:20px; display:-moz-inline-stack; display:inline-block;zoom:1;display:inline; }

#page { border: medium none; height: auto !important; min-height: 300px; padding: 10px;}
.entry h1{
    margin-bottom: 10px;
}
#content h1, .organismo_titulo { 
    font-size:14px; 
    font-weight:bold; 
    color:#fff; 
    background:url(images/bg-title.gif) no-repeat 0 0;
    padding: 11px 10px 11px 30px; 
    text-align:left;}


/*LOGIN - HOME*/
#mainsection.home { background-color:#666565; border:none; }
.login, .change-pass { margin:100px auto 0; width:467px; width:480px; }
.login .button { margin-right:5px;}
.change-pass { 
    margin-top:50px;
    /*padding-bottom: 20px;*/
}
html > body div.t-error li { margin:0 0 0 10px;}


/*MENU*/
.menu { background:none; margin-bottom:10px;}
.menu ul a { font-size:11px;  padding:0 10px; width: auto; margin-right: 1px;display:-moz-inline-stack;
             display:inline-block; zoom:1;}
.menu ul a:hover, .menu ul a.active { background-color:#860907;}

/*TABS*/
ul.tabs a { background-color:#bbb; color:#fff; margin-right:1px; padding: 5px 14px; width: auto; font-weight:bold; font-size:11px; border-color:#999; border-bottom-color:#E40132; display:-moz-inline-stack;
            display:inline-block;
            zoom:1;display:inline;}
ul.tabs a.active, ul.tabs a.active:hover {  background:none; color:#D72522;  cursor:default;}
ul.tabs a:hover { background-color:#D72522;  border-color:#E40132; }
ul.tabs a.active { border-color:#E40132; border-bottom: 1px solid #fff;}


/*BUSQUEDA*/
.wrap .pane { padding:20px;}
/*#selectors { border:none; padding:0; width:100%;}*/
.actions { overflow:auto;zoom:1; margin-bottom: 5px;}
.actionpersonal { overflow:auto;zoom:1; margin-top: 10px;}
.actions a { 
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    /*display:inline;*/
    margin: 10px;
}
#busquedas, #mainfiltros, #datosPersonales, #familiares, #formacion, #antecedentes, #produccionintelectual, #meritosdemeritos{ /*width:920px;*/ height:auto; border-color:#D72522; padding:10px;}
#busquedas select, #mainfiltros select, #form_conceptoremunerativo select, #form_usuario select {font-size:11px;}
#filtrosnombres, #filtrosdoc, #mainfiltros .seccionfiltros { float:none; margin:0;}
#busquedas label, #mainfiltros label {margin-right:0;}
.seccionfiltros { width:auto;}
#tablaTrabajador {clear:both;}

#Datos_Generales { border:none; padding:0;}
#basicosTrabajador { padding:4px 10px; font-size:12px; line-height:1.2em;}
#DatosPersonalesOtrosDatos { margin:0; float:none; width:100%; top:247px;}
#datosPersonalesZone { height:auto;}
#ubigeosData, #ubigeosDataFam { width:auto; top: -394px; clear:both;}
#ubigeoDomZone { clear:both; overflow:auto; zoom:1; }

/*#ubigeosData {top:-152px;}
*/.t-zone.f-left { width:195px; margin:0 5px;}
#formacionZone, #ubigeosDataFam { top:5px; clear:both}
#submitFamiliar { top:440px;}
#formacionZone { margin-bottom:30px}


#form_unidad_organica {float:none; width:auto;}
#bouttons_uo { top:44px;}

#formacion .t-data-grid input { width:140px;}
#formacion .t-data-grid select { width:150px;}
.t-data-grid textarea { width:180px;}
#fragment_1 input, #fragment_0 input {width:110px !important;}
#formacion #denominacion { width:170px;}
#formacion #interno { margin-left:11px !important;}


.day, #formacion #horas { width:50px !important;}
.month, .year, #mainfiltros #select { width:62px !important;}

table textarea, table select, table input { vertical-align:top;}


/*CARGOS*/
#cargos_izq, #cargos_der, #OcupacionalesZone form, #OcupacionalesZone { 
    /*width:100%; float:none;*/
}
.cargosAM { padding:0;}

/*ERROR*/
div.t-error, #timeout { border:1px dashed #525252; padding:3px; font-size:11px; margin-bottom:10px;}
div.t-error div, #timeout h3 { background-color:#525252}
div.t-error ul li { color:#D72522;}

img.t-error-icon {/* margin:0 0 2px 4px; vertical-align:middle; background-repeat:no-repeat;*/ display:none;}
label.t-error { color:#E10827;}
input.t-error, textarea.t-error, select.t-error { border-color:#E10827; color:#555454; font-style:normal;}


.no-info { margin:10px; font-weight:bold;  color: #D72522;}

/*OK MSG*/
/*#ok_msg { background-color:#91d722; border:none; margin: 0 auto; width: 90%;}*/
/*Cambiar clave */
#ok_msg {
    background-color: #444444;
    color: #fff;
    font-weight: bold;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}


/*TABLES*/
table.t-data-grid { width:100%; clear:both;}
th.login { border-top:none;}
th { background-color:#525252;}
table.t-data-grid tbody tr td {padding:3px;}
table.t-data-grid tr th a { vertical-align:middle; display:-moz-inline-stack; display:inline-block; zoom:1; display:inline; }

#form_unidad_ejecutora { width:auto;}

/*PAGINATION*/
div.t-data-grid-pager a, div.t-data-grid-pager span.current { padding:0 6px;}
div.t-data-grid-pager span.current { background-color:#DF0130;}

/*BATCH*/
#formularioprocesobatch .button, #formularioseleccion .button { margin-top:14px !important;}
.informacion ul { margin:15px 20px;}
.informacion ul li { list-style:square inside;}

#tamanosArchivos ul { float:left;}
#formularioconfirmacion { float:right; margin-top:15px;}


/* The console is used to show debugging messages. */
DIV.t-console {
    position: fixed;
    z-index: 1;
    top: 2px;
    left: 2px;
}

DIV.t-console DIV {
    font-weight: bold;
    padding: 0px 2px;
}

DIV.t-console DIV.t-err {
    background-color: red;
    color: white;
}

DIV.t-console DIV.t-warn {
    background-color: yellow;
    color: black;
}

DIV.t-console DIV.t-debug {
    background-color: silver;
    color: black;
}

#box_uo {
    height: 360px;
}

#ubigeoDomZoneFam {
    margin-top: 13px;
}

#bouttons_oi {
    top: -31px;
    position: relative;
}

#bouttons_ue {
    top: -31px;
    position: relative;
}

#bouttons_u {
    top: -31px;
    position: relative;
}

#box_organo {
    height: 175px;
}

#box_oi {
    height: 550px;
}

#box_ue {
    height: 220px;
}

#box_asignarcargo {
    height: 500px;
}

#ubigeosdata_dpe {
    top: -90px;
}

#ubigeo_dpe {
    clear:both;
    width: 99%;
    margin:0;
}

#ubigeo_lugar{
    clear:both;
    width: 99%;
    margin:0;
}

#ubigeo_fe {
    clear:both;
    width: 99%;
}

#datospersonales_fe{
    height: 0px;
}

#ubigeo_dpe_deptprovdom {
    margin-top: 60px;
}

#actualizar_dpe{
    position: relative;
    top:380px;
    width:300px;
    left:500px;  
    margin-top: 0px;
}

#regresar_dpe{
    position: relative;
    top:380px;  
    width:100px;
    left:700px;
    margin-top: 0px;
}

#eps{
    position: relative;
    top:150px; 
    left:10px;
    margin-top: 0px;
    
}
#certificacionesZone {
    padding-bottom: 40px;
}

#box_nuevotrabajador{
    height: 165px;
}

.dateInput select{
    width: 100px !important;
}

#meritosdemeritosEdit .dateInput{
    width: 100px;
}

#cargosSelects {
    width: 100%;
    height:50px;
}

#box-cargos{
    /*height: 310px;*/
    position: relative;
}

/*#box-unidades{
    height: 350px;
    position: relative;
}*/

#cambiarclave{
    margin: 5px;
}

.datosdecargoeditor{
    clear: both;
    margin-left: 10px;
}

.datosdecargoeditor label{
    float: left;
    width: 340px!important;
}

.input_corto {
    width:120px;
}

.datoperso_req_hab_profesional{
    right:100px;
    float:left;
    height: 10px;
}

.datoperso_req_hab_profesional input{
    width: 10px;
}

.checkbox{
    clear: both;
}

.checkbox label{
    width: auto !important;

}
.checkbox input{
    clear: none;
    width: 10px;
}

.posicioncheckbox{
    width: 30%;
    height: 75px;
    float: left;
    margin-left: 5px;
}

.filtros{
    width:30%;
    float: left;
    margin-left: 5px;
}

.filtros input{
    padding: 0px;
}

.grupocheckbox{
    clear:both;
}

.hssemfecha{
    clear: both;
}

.fechamenora{
    margin-right: 100px;
}

#bouttonambcargos{
    bottom: 100px;
}

.input_grande{
    width: 250px !important;
}

#select_origen{
    width:245px;
}

#num_colegiatura{
    width:70px !important;
}

#tdEliminar{
    width:65px;
}

#dateInput{
    width:100px;
}

#fielddespuesdate{
    width: 104px;
}

.margintop11{
    margin-top: 11px;
}

#form_tipo_usuario select{
    width: 275px;
}

.box_desasignarcargo{
    height: 350px;
}

.marginright{
    margin-left: 18px;
}

#confirmarZone{
    position: relative;
    top: -140px;
    width: 290px;
    margin-left: 18px;
}

.mostraUsuarioMenu{
    margin-top: 10px;
    width:100%;
}

.mostraUsuarioMenu h3{
    padding-top: 5px;
}

.guia-right {
    background: url(images/guia.jpg) top right no-repeat;
    height:75px;
    width: 70px;
    margin-top: 20px;
}

.seguridad-left {
    background: url(images/seguridad.jpg) top left no-repeat;
    height:75px;
    width: 70px;
}

#lienPopup{
    width: 100px;
}

#textoIndexClave{
    border: 2px solid red;
    position: absolute;
    width: 390px;
    height: 100px;
    left: 430px;
    top: 230px;
    background-color: whiteSmoke;
    z-index: 9;
    padding: 10px;
    overflow: auto;
    color: black;
}

#textoIndexUsuario{
    border: 2px solid red;
    position: absolute;
    width: 400px;
    height: 120px;
    left: 430px;
    top: 230px;
    background-color: whiteSmoke;
    z-index: 9;
    padding: 10px;
    overflow: auto;
    color: black;
}

#textoIndexClave span{
    float:right;
}

#textoIndexUsuario span{
    float:right;
}

#ubigeo_entidadUE{
    clear:both;
    width: 99%;
    margin:0;
}

#entidadCodDen{
    clear:both;
}

#datosDestino .box form {
    padding:0;
}

.button_reporteGlobalTrabajador{
    margin-top: -26px;
}

.button_bajaTrabajador{
    margin-top: -46px;
    margin-right: 390px;
}

#datosDestino #SectorZone {
    width:auto;
}

#ReporteEntidades #SectorZone {
    width:auto;
}

#DatosDeCargo{
    height: 200px;

}

#formulariodatosdecargo{
    padding:0px;

}

#cargoAsignado{
    float:left;
}

.right{
    float: left;
}

/*Para offline */
#mensaje_inicial {
    margin:10px;
    padding:10px;
}

/* Añadido */
.info, .exito, .alerta, .error {
    font-family:Arial, Helvetica, sans-serif; 
    font-size:11px;
    border: 1px solid;
    margin: 10px 0px;
    padding:15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    position:relative;
}
.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('images/info.png');
}
.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
    background-image:url('images/exito.png');
}
.alerta {
    color: #9F6000;
    background-color: #FEEFB3;
    background-image: url('images/alerta.png');
}
.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('images/error.png');
}
.datotrue {
    background: url("images/page-bg.png") repeat-x #FFFFFF;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    border: 0px;
}
.datofalse {
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin: 0px;
    border: 0px;
}

DIV.t-data-grid {
    /*margin-top: 15px;*/
}

.box-background-title{
    margin-top: 10px;
}
.box-title-icon{
    background: url("images/plus.gif");
    width:10px;
    height: 10px;
}
.box-title, .box-title-01, .box-title-02{
    background-color:#D72522; 
    display: inline-block; 
    padding:5px;
    /*font-size: 14px;*/
    color:#FFFFFF;
    font-size: 10px;
    font-weight: bold;
}

#shade, #modal { display: none; }
#shade { 
    position: fixed; 
    z-index: 100; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    opacity: .75;
    filter: alpha(opacity=75);
    background: #000;
}
#modal { 
    position: fixed; 
    z-index:1002; 
    top: 50%; 
    left: 50%; 
    width: 800px; 
    height: 400px; 
    margin-top:-200px; 
    margin-left:-400px;
    padding: 10px; 
    background: #fff; 
    color: #333;
}