/* 
    Document   : trabajadornuevo

    Description:
        Documento para generar los estilos del trabajador nuevo
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

h2 {
    margin-bottom: 20px;
}

label {
    margin-bottom: 5px;
    width: 150px;
    float:left;
}

input, select {
    float:left;

}


